a {
    text-decoration: none;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 85px;
}

.insideHeader {
    padding-top: 35px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FF8D07;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

ul li {
    list-style: none;
}

.link {
    color: #606054;
    transition: .2s;
}

.link:hover {
    color: #FF8D07;
}

.loginButton {
    width: 100px;
    height: 45px;
    border-radius: 45px;
    background-color: #FFF2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF8D07;
    transition: .2s;
}

.loginButton:hover {
    background-color: #FF8D07;
    color: #FFF2E2;
}

.selected {
    color: #FF8D07;
}